# Commit the .gitignore
!.gitignore

# Build files
cmake-*
cmake-build*

# Python
venv
__pycache__/
*.py[cod]
*$py.class

# ROS2
build/
install/
log/

#
.vscode/

*.ipynb_checkpoints

# Jetbrain workspaces
.idea
